<?xml version="1.0" encoding="UTF-8"?>
<dsr>
	<debug>true</debug>

	<database>
		<username>root</username>
		<password>dsr</password>
		<mysql_url>jdbc:mysql://localhost</mysql_url>
	</database>
	<webservices>
		<service name="ocr">
			<url>http://localhost:2289/OCRService.svc/</url>
			<functions>
				<function name="SingleFile">getOCRResult</function>
			</functions>
		</service>
	</webservices>
	<LanguageDetectorProfiles>resources\\profiles</LanguageDetectorProfiles>
</dsr>